body {
  background-color: #1d212d;
}

li {
  list-style: none;
  text-align: left;
  width: auto;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 30px rgb(0 0 0 / 70%);
  margin: 40px 10px;
  background-color: #242833;
  margin-right: 50px;
}

h3 {
  font-size: 18px;
  color: #e5e6ec;
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  color: #e5e6ec;

  margin: 0;
}

.song-title {
  text-align: left;
}
