body {
  background-color: #1d212d;
}

li {
  list-style: none;
  text-align: left;
  width: auto;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 30px rgb(0 0 0 / 70%);
  margin: 40px 10px;
  background-color: #242833;
  margin-right: 50px;
}

h3 {
  font-size: 18px;
  color: #e5e6ec;
  margin-bottom: 10px;
}

h4 {
  font-size: 16px;
  color: #e5e6ec;
  margin: 0;
}

.button-play {
  background: #ee8185 url("./images/play.svg") no-repeat;
  background-size: 60px;
  display: block;
  margin-left: auto;
  margin-right: 0;
  border: none;
  box-shadow: 0px 4px 40px rgb(39 33 66 / 5%);
  border-radius: 50%;
  background-position: center;
  transition: transform 150ms ease-in-out;
  width: 100px;
  height: 100px;
  cursor: pointer;
  outline: none;
}

.button-pause {
  background: #ec6683 url("./images/pause.svg") no-repeat;
  background-size: 60px;
  display: block;
  margin-left: auto;
  margin-right: 0;
  border: none;
  box-shadow: 0px 4px 40px rgb(39 33 66 / 5%);
  border-radius: 50%;
  background-position: center;
  transition: transform 150ms ease-in-out;
  width: 100px;
  height: 100px;
  cursor: pointer;
  outline: none;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
